<h1>Hello World!</h1>

<canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="960px"></canvas>
<br>
<div class="logo"></div>
<div class="fullscreen"><img src="TemplateData/fullscreen.png" width="38" height="38" alt="Fullscreen" title="Fullscreen" onclick="SetFullscreen(1);" /></div>
<div class="title">Web test 2</div>

<link rel="stylesheet" href="TemplateData/style.css">
<link rel="shortcut icon" href="TemplateData/favicon.ico" />
<script src="TemplateData/UnityProgress.js"></script>
<script type='text/javascript'>
  var Module = {
    TOTAL_MEMORY: 268435456,
    errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
    compatibilitycheck: null,
    backgroundColor: "#222C36",
    splashStyle: "Light",
    dataUrl: "Development/Builds.data",
    codeUrl: "Development/Builds.js",
    asmUrl: "Development/Builds.asm.js",
    memUrl: "Development/Builds.mem",
  };
</script>
<script src="Development/UnityLoader.js"></script>

<!-- -->
  <p><button id="toggle-button" class="btn btn-default" type="submit">button</button></p>
  <p id="test-text">Test Text</p>>

  <script>
    document.getElementById("toggle-button").click(function() {
      text = document.getElementById("test-text");
      display = text.style.display;
      if (display == "none") {
        text.style.display("block");
      } else {
        text.style.display("none");
      }
      SendMessage("EventSystem","toggleText", "")
  });
</script>
<!-- -->
