<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Chat Rooms</h1>
	</div>
</div>

<div class='row'>
	<div class='col-lg-4'><!-- Chat Rooms -->
		<% @chat_rooms.each do |chat_room| %>
			<p><strong><%= chat_room.name %>:</strong> <%= link_to "Enter Room", chat_room_path(chat_room), method: :get %></p>
			<hr>
		<% end %>

		<%= link_to "Create Room", new_chat_room_path, method: :get %>
	</div><!-- /Chat Rooms -->
</div>