<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Edit Guild Hall</h1>
	</div>
</div>

<%= simple_form_for @hall, url: guild_hall_path(@hall), method: :patch do |f| %>
  <%= f.input :name %>

  <%= f.button :submit %>
<% end %>