<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Guildlands</h1>
	</div>
</div>

<div class='row'>
	<div class="col-lg-12">
		<p>Welcome to the Guildlands website</p>
		<p>Currently in Development</p>

		<p><%= link_to "Click here to sign up", new_user_registration_path, method: :get, :class => 'navbar-link' %></p>
		<p>or</p>
		<p><%= link_to "Click here to login", new_user_session_path, method: :get, :class => 'navbar-link' %></p>
	</div>
</div>