<p><button id="toggle-button" class="btn btn-default" type="submit">button</button></p>
<p id="test-text">Test Text</p>>

<iframe id="unity" class="webgl" src="/unity/index.html"></iframe>

<script>
	var iframe = $("#unity");
	var innerDoc = iframe.contentDocument;

	$("#toggle-button").click(function() {
		$("#test-text").toggle();
		innerDoc.SendMessage("EventSystem","toggleText", "")
	});
</script>